body {
   font-style: normal;
	font-family: Tahoma, Geneva, sans-serif;
	background: #F4F4FF;
	color: #404040;
        font-size: 1.0em;
}

h1  {
    text-align: center;
}

h2 {
    display: inline;
}
#requestdata {
     line-height: 2.5em;
}

#requestdata input[type="text"]  {
    width: 12em;
}

#titlediv  p  {
   text-align: center;
}

#map {
    width: 100%;
    height: 85vh;
    margin-bottom: 15px;
}

#slider label {
    width: 6em;
    vertical-align: top;
}
  
#slider input[type='range'] {
    width: calc(100% - 6em);
    padding-bottom: 0px; /* Default padding is huge in Internet Explorer.*/
}

#mapWrapper, #barogram {
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
}

#barogram, #map  {
   max-height: 110vw;
}

#barogram {
   cursor: crosshair;
}

#taskinfo td   {
   padding: 0px 20px;    
}

.nowrap {
    white-space: nowrap;
}

  #declaration {
    float: right;
    }

@media print, screen and (max-width: 1100px) {
 div.halfwidth   {
        display: block;
        width: 90%;
        margin-left: auto;
      margin-right: auto;
    }   
    
    button.toggle {
        float:right;
    }
    
    #mapWrapper {
        position: relative;
    }
    
    
    #barogram {
        height: calc(90vh - 130px);
        position: relative;
    }
    
   button,  .inbutton  {
    height: 35px;
    font-size: 20px;
    margin: 5px;
    }
}

@media screen and (min-width: 1100px) {
    div.halfwidth   {
        display: inline-block;
        width: calc(50% - 30px);
        padding-left:  10px;
        padding-right: 10px;
    }

    button.toggle {
        display: none;
    }

  #help, #about {
  position: absolute;
  top:10px;
  font-weight: bold;
  }

  #about {
  right: 10px;
  }
    
    #mapWrapper {
        margin-left: 30px;
        float: left;
    }

    #barogram {
        height: 90vh;
        position: absolute;
        right: 0px;
        clear: both;
    }
}

#errorMessage {
    font-weight: bold;
    color: Red;
    margin-top: 30px;
    margin-bottom: 30px;
}

#igcFileDisplay {
    clear: both;
    display: none;
}

table#headerInfo {
    border-spacing: 0.1em ;
}

#task {
   display: none;
   width: 100%;
}

#airspace_info {
display: none;
}

#headerInfo th {
    text-align: left;
    font-weight: bold;
}

#flightInfo  {
   display: none;
   margin-bottom: 20px;
}

@-ms-viewport  {
    width: extend-to-zoom;
    zoom: 1.0;
}
