html {
    font-size: 16px;
    font-family: sans-serif;
}

#map {
    width: 100%;
    height: calc(100% - 115px);
    margin-bottom: 15px;
}

#slider {
    height: 100px;
}

#slider label {
    width: 6em;
    vertical-align: top;
}
 
 #slider button {
     width: 2em;
    vertical-align: top;
 }
 
#slider input[type='range'] {
    width: calc(100% - 11em);
    padding-bottom: 0px; /* Default padding is huge in Internet Explorer.*/
}

#mapWrapper, #barogram {
    max-height: 110vw;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
}

#mapWrapper {
   height: 90vh;
}

#barogram {
   cursor: crosshair;
}

@media print, screen and (max-width: 1100px) {
    #mapWrapper, #barogram {
        width: 90%;
        display: inline-block;
        position: relative;
    }
    
    #barogram {
        height: calc(90vh - 130px);
    }
}

@media screen and (min-width: 1100px) {
    #mapWrapper, #barogram {
        display: inline-block;
        width: calc(50% - 30px);
    }

    #mapWrapper {
        margin-left: 30px;
    }

    #barogram {
        position: absolute;
        right: 0px;
        height: 90vh;
    }
}

#errorMessage {
    font-weight: bold;
    color: Red;
    margin-top: 30px;
    margin-bottom: 30px;
}

#igcFileDisplay {
    display: none;
}

table#headerInfo {
    border-spacing: 1em 0;
}

#headerInfo th {
    text-align: left;
    font-weight: bold;
}
