body {
    font-family: sans-serif;
}

#map, #barogram {
    height: 90vh;
    max-height: 110vw;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
}

@media print, screen and (max-width: 1100px) {
    #map, #barogram {
        width: 90%;
        display: block;
        position: relative;
    }
}

@media screen and (min-width: 1100px) {
    #map, #barogram {
        display: inline-block;
        width: calc(50% - 30px);
    }

    #map {
        margin-left: 30px;
    }

    #barogram {
        position: absolute;
        right: 0px;
        cursor: crosshair;
    }
}

#errorMessage {
    font-weight: bold;
    color: Red;
    margin-top: 30px;
    margin-bottom: 30px;
}

#igcFileDisplay {
    display: none;
}

table#headerInfo {
    border-spacing: 1em 0;
}

#headerInfo th {
    text-align: left;
    font-weight: bold;
}

#slider input[type='range'] {
    width: 90vw;
}
